# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        os-version: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os-version }}

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run lint:js
    - run: npm run lint:standardjs
    - run: npm run test

    - name: Cypress Tests with no real data
      run: npm run cypress-test-no-real-data
    
    - name: Cypress Tests with real data
      if: ${{ matrix.os-version == 'ubuntu-latest' }}
      run: npm run cypress-test-real-data

    - name: Upload images as artifacts
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: generated-images-${{ matrix.os-version }}-${{ matrix.node-version }}
        path: |
          cypress/artifacts
          cypress/screenshots
